<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Welcome to our <%= title %></p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-3    ">
            <!-- Training Engine Card -->
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" src="../public/images/train.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Training Engine</h5>
                    <p class="card-text">Descrição qualquer acerca do que vamos fazer aqui...></p>
                    <a href="trainingset" class="btn btn-primary">Let's Train the engine</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <!-- Testing Engine Card -->
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" src="../public/images/train.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Testing Engine</h5>
                    <p class="card-text">Descrição qualquer acerca do que vamos fazer aqui...</p>
                    <a href="#" class="btn btn-primary">Test the engine</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <!-- Classification Card -->
            <div class="card" style="width: 18rem;">
                <img class="img-responsive" src="../public/images/train.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Classify</h5>
                    <p class="card-text">Descrição qualquer acerca do que vamos fazer aqui...</p>
                    <a href="#" class="btn btn-primary">Classify</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
